body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(175 175 175);
    color: black;
}
html{
    scroll-behavior: smooth;
}
.container{
    display: flex;
    justify-content: space-around;
    background-color: rgba(39, 37, 37,4);
    color: white;
    font-family: 'Play', sans-serif;
    box-shadow: black 1px 2px 4px 0px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}



.menu-button{
    cursor: pointer;
    margin-top: 15px;
}
.menu-button:hover{
    color: silver;
}
.side-menu{
    background-color: rgb(175 175 175);
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 280px;
    z-index: 1;
    transition: all .3s ease;
    transform: translate3d(-290px,0,0);
    font-family: 'Play', sans-serif;
}

.side-menu ul{
    list-style: none;
}
.side-menu ul li{
    padding: 15px 10px;
}
.side-menu ul a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 5px;
    font-size: 18px;
    font-weight: 700;
}
.side-menu ul a:hover{
    background-color: rgb(54, 56, 56);
    color: white;
    border-radius: 5px;
}
.display-side-menu{
    transform: translate3d(0,0,0);
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000073;
    display: none;
}
.display-overlay{
    display: block;
}

/* 2nd section */
.head-img img{
   display: block;
   margin: auto;
   width: 20%;
   margin-top: 100px;
}
#head-btn{
    cursor: pointer;
    display: block;
    margin: auto;
    margin-top: 40px;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid white;
    background-color: rgba(39, 37, 37,0.86);
    color: white;
    font-family: 'Play', sans-serif;   
    box-shadow: black 0px 2px 5px 0px;
}
#head-btn:hover{
    background-color: white;
    color: black;
}
/* about section */
.about{
    font-family: 'Play', sans-serif;
}
.about h2{
    text-align: center;  
    margin-top: 100px; 
}
.about-img{
    width: 20%;
}
.div-img{
    display: flex;
    justify-content: center;
}

.a-text p{
    text-align: center;
}
.about hr{
    margin-bottom: 40px;
}
/* service section */
.service-head h2{
    text-align: center;
    margin-top: 80px;
    color: black;
    font-family: 'Play', sans-serif;
    letter-spacing: 2px;
    font-weight: 900;
}
hr{
    width: 20%;
    color: black;
    
}
.card{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
   
}
.service-img{
    width: 30%;
    border-radius: 10px;
    box-shadow: black 1px 4px 13px -1px;
}
.text p{
    font-size: medium;
    color:black;
    font-family: 'Play', sans-serif;   
}
.text a{
    color: black;
}

/* contact section */
.contact h1{
    text-align: center;
    margin-top: 80px;
    color: black;
    font-family: 'Play', sans-serif;
    letter-spacing: 2px;
    font-weight:900;
}
.contact hr{
    width: 20%;
    color: black;
}

.contact{
    margin: auto;
    padding: 25px; 
}
input[type=text],input[type=number],textarea{
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 2px;
    margin-top: 6px;
    margin-bottom: 6px;
    font-family: 'PT Sans', sans-serif;
}
.contact label{
    font-size:large;
    color:black;
    font-family: 'PT Sans', sans-serif;
}
.submit-btn{
    padding: 9px;
    border: 2px solid black;
    background-color: white;
    color: black;
    border-radius: 5px;
    margin-right: 15px;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Play', sans-serif;   
}
.submit-btn:hover{
    background-color: black;
    color: white;
}
.reset-btn{
    padding: 9px;
    border: 2px solid red;
    background-color: white;
    color: red;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Play', sans-serif;   
}
.reset-btn:hover{
    background-color: red;
    color: white;
}
.foot-contain{
    background-color: rgba(39, 37, 37,4);
    color: white;
    display: flex;
    justify-content:space-around ;
}
.index{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.index a{
    color: white;
}
footer{
    background-color: rgba(39, 37, 37,4);
    color: white;
    height:290px;
    font-family: 'Play', sans-serif;   
}
footer .copy{
    text-align: center;
    margin-top: 20px;
}
.credit{
    opacity: 70%;
    font-size: 12px;
}
.credit a{
    color: white;
    text-decoration: none;
}
.credit a:hover{
    text-decoration: underline;
}
footer hr{
    opacity: 70%;
}

@media screen and (max-width:375px) {
    .head-img img{
        width: 50%;
    }
    /* service */
    .card{
        flex-direction: column;
        background: #2d3539;
    }
    .card .service-img{
        width: 66%;
        margin-top: -36px;
    }
    .text p{
        color: white;
    }
    .text a{
        color: white;
    }
    .a-text p{
        font-size: 12px;
    }
    .about-img{
        width: 41%;
    }
    .a-text{
        margin-top: -32px;
        padding-top: 21px;
        background: #5e5a5a;
        padding-bottom: 5px;
        background-color: #2d3539;
        color: white;
    }
}

@media screen and (max-width:411px) {
    .head-img img{
        width: 50%;
    }
    /* service */
    .card{
        flex-direction: column;
        background: #2d3539;
    }
    .card .service-img{
        width: 66%;
        margin-top: -36px;
    }
    .text p{
        color: white;
    }
    .text a{
        color: white;
    }
    .a-text p{
        font-size: 12px;
    }
    .about-img{
        width: 41%;
    }
    .a-text{
        margin-top: -32px;
        padding-top: 21px;
        background: #5e5a5a;
        padding-bottom: 5px;
        background-color: #2d3539;
        color: white;
    }
}

@media screen and (max-width:414px) {
    .head-img img{
        width: 50%;
    }
    /* service */
    .card{
        flex-direction: column;
        background: #2d3539;
    }
    .card .service-img{
        width: 66%;
        margin-top: -36px;
    }
    .text p{
        color: white;
        font-size: 15px;
    }
    .text a{
        color: white;
    }

    .a-text p{
        font-size: 12px;
        
    }
    .about-img{
        width: 41%;
        margin-bottom: 15px;

    }
    .a-text{
        margin-top: -32px;
        padding-top: 21px;
        background: #5e5a5a;
        padding-bottom: 5px;
        background-color: #2d3539;
        color: white;
    }
}